@use "sass:math";
@use "../../Setting/"as s;

.c-sec-subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.69;
  letter-spacing: 0.1em;
  text-align: left;

  @include s.media(md) {
    /*PCのみ*/
    font-size: 2rem;
  }
}
