@use "../../Setting/" as s;

/*エラー文-------------*/
.p-form {
  .mw_wp_form {
    @include s.media(mdmax) {
      /*スマホのみ*/
      dl {
        position: relative;

        .error {
          position: absolute;
          line-height: 1;
          top: 0;
          right: 0;
          text-align: right;
          font-size: 86%;
          & + .error {
            top: 1.2em;
          }
        }
      }
    }
    @media only screen and (max-width: 374px) {
      /*スマホ最小サイズ*/
      .p-form__mail-title {
        .error {
          width: 180px;
        }
      }
      .p-form__kana-title {
        .error {
          width: 220px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    @include s.media(md) {
      /*PCのみ*/
      dl {
        .error {
          font-size: 77%;
          margin-top: 0.8em;
          line-height: 1.45;
        }
      }
    }

    .p-form__radio {
      .error {
        @include s.media(md) {
          width: 100%;
          margin-top: 0.5em;
        }
      }
    }
  }
}

/*エラーメッセージ追加*/
.error-message {
  display: none;
  font-size: 105%;
  line-height: 1.54;
  color: #b70000;
  margin: -3em auto 3em;

  @include s.media(md) {
    margin: -4.5em auto 6.2em;
  }
}

.body__mw_wp_form_error {
  .error-message {
    display: block;
  }
}

/*確認メッセージ追加*/
.confirm-message {
  display: none;
  margin: 0 auto 3em;
  line-height: 1.8;
  color: #000;

  @include s.media(md) {
    margin: -2em auto 4em;
  }
}

.body__mw_wp_form_confirm {
  .confirm-message {
    display: block;
  }
}

/*エラー画面と確認画面---------------------*/
.body__mw_wp_form_error,
.body__mw_wp_form_confirm {
  .p-contact__text {
    display: none;
  }
}

/*確認画面---------------------*/
.body__mw_wp_form_confirm {
  .p-contact__note {
    display: none;
  }
}
.mw_wp_form_confirm {
  // .inquiry-form__select::after {
  //   display: none;
  // }

  // .inquiry-form__address th {
  //   padding-top: 0;
  // }

  // .inquiry-form__address td,
  // .inquiry-form__address td #address2 {
  //   margin: 0;
  //   padding: 0;
  // }
  dl {
    @include s.media(mdmax) {
      /*スマホのみ*/
      margin-bottom: 3.8rem;
    }
  }

  .p-form__radio {
    margin: 0.8em 0 0;
    display: block;
    font-size: inherit;
    //line-height: 1;
    @include s.media(md) {
      /*PCのみ*/
      margin: 0;
      line-height: 1;
    }
  }

  .p-form__2column {
    justify-content: flex-start;
    .column {
      border: none;
      width: auto;
      //line-height: 1;
      @include s.media(md) {
        /*PCのみ*/
        line-height: 1;
      }
      & + .column {
        margin-left: 1em;
      }
    }
    label {
      display: none;
    }
  }

  .p-form__mail {
    border: none;
    line-height: 1;
  }

  .p-form__select::after {
    display: none;
  }

  // .p-form__mailconfirmation {
  //   display: none;
  // }

  .p-form-submit--confirm {
    display: block;
  }
}
