@use "sass:math";
@use "../../Setting/" as s;

.p-philosophy {
  @include s.media(md) {
    /*PCのみ*/
    display: inline-block;
  }
  &__textarea {
    margin: 1.7em 0 12em;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.02em;

    line-height: 2.08;
    text-align: justify;

    @include s.media(md) {
      /*PCのみ*/
      margin-bottom: 18vmin;
      font-size: 1.4rem;
      letter-spacing: 0.05em;
    }

    p {
      font-size: inherit;
      & + p {
        margin-top: 2em;
      }
    }
  }
}
