//- ページのID名
- const pageID = "contact"

include _header.pug

article.l-page-wrap.l-inner
	.c-sec-title.js-fadein
		h1.c-sec-title__title.u-upper.js-fadein__inner contact

			<div class="l-page-inner p-contact">
				<p class="p-thanks__text">お問い合わせいただきありがとうございます。<br>
			お問い合わせ内容を確認後、担当者よりご返信させていただきます。</p>
			<p></p>
			<div class="p-form-submit p-form-submit--gohome"><a class="p-form-submit__wrap" href="https://office-▲▲▲▲.jp/_▲▲▲▲"><span class="p-form-submit__text" data-text="HOMEへ戻る">HOMEへ戻る</span></a></div>	</div>


		<!-- ▲▲▲ 管理画面にはここまで入れる ▲▲▲ -->
include _footer.pug
