//- ページのID名
- const pageID = "topics"

include _header.pug

.p-news.l-page-wrap.l-inner
	.l-page-listwrap
		.c-sec-title.p-home-philosophy__title.js-fadein
			h1.c-sec-title__title.u-upper topics

	.p-news__listarea
		article.p-news-list
			a(href=" ")
				time.p-news-list__time 2023.01.06
				h2.p-news-list__title この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
		article.p-news-list
			a(href=" ")
				time.p-news-list__time 2023.01.06
				h2.p-news-list__title この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
		article.p-news-list
			a(href=" ")
				time.p-news-list__time 2023.01.06
				h2.p-news-list__title この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。

include _footer.pug
