//- ページのID名
- const pageID = "works"

include _header.pug

article.p-works.l-page-wrap.l-inner
	.l-page-listwrap
		.c-sec-title.p-home-philosophy__title.js-fadein
			h1.c-sec-title__title.u-upper.js-fadein__inner WORKS

		nav.c-cat-pagelink.js-fadein
			ul.js-fadein__inner
				li
					a.is-show.u-upper(href=" ") All
				li
					a.u-upper(href=" ") WEB
				li
					a.u-upper(href=" ") GRAPHIC
				li
					a.u-upper(href=" ") BRANDING
				li
					a.u-upper(href=" ") MOVIE

	.p-works__list
		figure.js-fadein
			a.c-figure-hover.js-fadein__inner(href=" ")
				img(src="https://fakeimg.pl/312x200" alt="	" width="312" height="200")
		figure.js-fadein
			a.c-figure-hover.js-fadein__inner(href=" ")
				img(src="https://fakeimg.pl/312x200" alt="	" width="312" height="200")
		figure.js-fadein
			a.c-figure-hover.js-fadein__inner(href=" ")
				img(src="https://fakeimg.pl/312x200" alt="	" width="312" height="200")


include _footer.pug
