//- ページのID名
- const pageID = "▲▲▲"

include _header.pug

article.l-page-wrap.l-inner
	.c-sec-title.js-fadein
		h1.c-sec-title__title.u-upper.js-fadein__inner ▲▲▲

	.l-page-inner.p-▲▲▲
		<!-- ▼▼▼ 管理画面にはここから入れる ▼▼▼ -->

		<!-- ▲▲▲ 管理画面にはここまで入れる ▲▲▲ -->
include _footer.pug
