//ローディングアニメーションのピリオドの点滅
@keyframes loadingPeriod01 {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	20.1% {
		opacity: 1;
	}

	99.9% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes loadingPeriod02 {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 0;
	}

	40.1% {
		opacity: 1;
	}

	99.9% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes loadingPeriod03 {
	0% {
		opacity: 0;
	}

	60% {
		opacity: 0;
	}

	60.1% {
		opacity: 1;
	}

	99.9% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

//ローディングアニメーションのキャラクターのアニメーション
@keyframes jumpTop {

	0%,
	10%,
	20% {
		// bottom: 0;
		transform: translateY(0);
		// transform: scaleY(1);
	}

	6%,
	16% {
		// bottom: 25px;
		transform: translateY(-25px);
		// transform: scaleY(0.9);
	}
}

//　見出しのアニメーション 関数化==============
// 通常のCSS-----------
@mixin headlineAnim {
	span {
		display: inline-block;
		position: relative;
		transform: translate(80%, 0);
		opacity: 0;
		transition: opacity 0.2s ease-in-out 0.1s,
			transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s;

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: rgba($color: #ddd, $alpha: 0.8);
		}
	}
}

// .is-showを付与した時（アニメーション発火）-----------
@mixin headlineAnimActive {
	span {
		transform: translate(0, 0);
		opacity: 1;

		&::before {
			opacity: 0;
			transition: opacity 0.2s ease-in-out 0.1s;
		}
	}
}

//ATHLETEの文字アニメーション=============
@keyframes slide01 {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
	}
}

@keyframes slide02 {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-200%);
	}
}

//商品スライド参考================
@keyframes infinitySlide {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}

// フェードインアニメーション 関数化==============
// 通常のCSS-----------
@mixin fadeinAnim {
	opacity: 0;
	transition: opacity 0.6s ease-in-out 0s;
}

// .is-showを付与した時（アニメーション発火）-----------
@mixin fadeinAnimActive {
	opacity: 1;
}

//　拡大してフェードインするアニメーション 関数化==============
// 通常のCSS-----------
@mixin scaleAnim {
	overflow: hidden; //発火前の横ずれをなくす
	opacity: 0;
	transform: translate(0, -30px) scale(1.08);
	transition: transform 0.6s ease, opacity 0.6s ease;
}

// .is-showを付与した時（アニメーション発火）-----------
@mixin scaleAnimActive {
	overflow: visible; //発火するときにはoverflowをvisibleにする
	opacity: 1;
	transform: translate(0) scale(1);
}

//リンクの矢印のアニメーション------------
$line-height: -100%;
$line-height-abs: 100%;

@keyframes arrowLine {
	0% {
		background: linear-gradient(to right,
				rgba(0, 0, 0, 1) 49%,
				rgba(0, 0, 0, 0.5) 50%,
				rgba(0, 0, 0, 0) 51%);
		background-position: 0 0;
		background-size: 300% 100%;
	}

	//   25% {
	//     background-position: $line-height 0;
	//   }
	26% {
		//線の要素を右から左に移動させる間、線を透明にする
		background-position: $line-height 0;
		background: transparent;
	}

	27% {
		//線の要素を右から左に移動させる間、線を透明にする
		background-position: $line-height-abs 0;
		background: transparent;
	}

	28% {
		//再び線を出す
		background: linear-gradient(to right,
				rgba(0, 0, 0, 1) 49%,
				rgba(0, 0, 0, 0.5) 50%,
				rgba(0, 0, 0, 0) 51%);
		background-size: 300% 100%;
		background-position: $line-height-abs 0;
	}

	75% {
		background-position: 0 0;
	}

	100% {
		background-position: $line-height 0;
	}
}

@keyframes arrowLineWhite {
	0% {
		background: linear-gradient(to right,
				rgba(216, 201, 169, 1) 49%,
				rgba(216, 201, 169, 0.5) 50%,
				rgba(216, 201, 169, 0) 51%);
		background-position: 0 0;
		background-size: 300% 100%;
	}

	//   25% {
	//     background-position: $line-height 0;
	//   }
	25% {
		//線の要素を右から左に移動させる間、線を透明にする
		background-position: $line-height 0;
		background: transparent;
	}

	27% {
		//線の要素を右から左に移動させる間、線を透明にする
		background-position: $line-height-abs 0;
		background: transparent;
	}

	29% {
		//再び線を出す
		background: linear-gradient(to right,
				rgba(216, 201, 169, 1) 48%,
				rgba(216, 201, 169, 0.5) 50%,
				rgba(216, 201, 169, 0) 52%);
		background-size: 300% 100%;
		background-position: $line-height-abs 0;
	}

	75% {
		background-position: 0 0;
	}

	100% {
		background-position: $line-height 0;
	}
}

// @keyframes fadeInUp {
//   from {
//     opacity: 0;
//     transform: translateY(20px);
//   }

//   to {
//     opacity: 1;
//     transform: none;
//   }
// }

/*トップページ　最初の文字のアニメーション*/
// @keyframes fadeUpAnime {
//   from {
//     opacity: 0;
//     transform: translateY(20px);
//   }

//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// @keyframes jsWidth {
//   from {
//     width: 100%;
//   }

//   to {
//     width: 50%;
//   }
// }

.is-fadeInUp {
	opacity: 0;

	&.js-loadanim {
		transition: 1s;
		animation-name: fadeUpAnime;
		//animation-duration: 1s;
		animation-duration: 1.5s;
		animation-fill-mode: forwards;

		//animation-delay: 0.5s;
		&.is-fadeInUp {
			&--01 {
				//animation-delay: 0.5s;
				animation-delay: 0.1s;
			}

			&--02 {
				//animation-delay: 1s;
				animation-delay: 1.6s;
			}

			&--03 {
				//animation-delay: 1.5s;
				animation-delay: 3.1s;
			}
		}
	}
}