//- ページのID名
- const pageID = "privacy"
include ./Common/_mixinPic

include ./Common/_header.pug

article.l-page-wrap
	h1.c-page-title.c-inner.js-fadein
		span.en Privacy policy
		span.jp 個人情報保護方針

	.p-privacy-wrap.c-inner
		p.p-privacy-wrap__text 株式会社　〇〇（以下「当社」といいます。）は、お客様の個人情報保護の重要性について認識し、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）を遵守すると共に、以下のプライバシーポリシー（以下「本プライバシーポリシー」といいます。）に従い、適切な取扱い及び保護に努めます。

		dl.p-privacy
			dt.p-privacy__title 1. 個人情報の定義
			dd.p-privacy__textarea
				p.p-privacy__text 本プライバシーポリシーにおいて、個人情報とは、個人情報保護法第2条第1項により定義された個人情報、すなわち、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます。）を意味するものとします。

		dl.p-privacy
			dt.p-privacy__title 2. 個人情報の利用目的
			dd.p-privacy__textarea
				p.p-privacy__text 当社は、お客様の個人情報を、以下の目的で利用致します。
				ol.p-privacy__list
					li （１） 当社サービスの提供のため
					li （２） 当社サービスに関するご案内、お問い合わせ等への対応のため
					li （３） 当社の商品、サービス等のご案内のため
					li （４） 当社サービスに関する当社の規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対する対応のため
					li （５） 当社サービスに関する規約等の変更などを通知するため
					li （６） 当社サービスの改善、新サービスの開発等に役立てるため
					li （７） 当社サービスに関連して、個別を識別できない形式に加工した統計データを作成するため
					li （８） その他、上記利用目的に付随する目的のため

		dl.p-privacy
			dt.p-privacy__title 3. 個人情報利用目的の変更
			dd.p-privacy__textarea
				p.p-privacy__text 当社は、個人情報の利用目的を相当の関連性を有すると合理的に認められる範囲内において変更することがあり、変更した場合にはお客様に通知又は公表します。

		dl.p-privacy
			dt.p-privacy__title 4. 個人情報利用の制限
			dd.p-privacy__textarea
				p.p-privacy__text 当社は、個人情報保護法その他の法令により許容される場合を除き、お客様の同意を得ず、利用目的の達成に必要な範囲を超えて個人情報を取り扱いません。但し、次の場合はこの限りではありません。
				ol.p-privacy__list
					li （１） 法令に基づく場合
					li （２） 人の生命、身体又は財産の保護のために必要がある場合であって、お客様の同意を得ることが困難であるとき
					li （３） 公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、お客様の同意を得ることが困難であるとき
					li （４） 国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、お客様の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき

		dl.p-privacy
			dt.p-privacy__title 5. 個人情報の適正な取得
			dd.p-privacy__textarea
				p.p-privacy__text 当社は、適正に個人情報を取得し、偽りその他不正の手段により取得しません。

		dl.p-privacy
			dt.p-privacy__title 6. 個人情報の安全管理
			dd.p-privacy__textarea
				p.p-privacy__text 当社は、個人情報の紛失、破壊、改ざん及び漏洩などのリスクに対して、個人情報の安全管理が図られるよう、当社の従業員に対し、必要かつ適切な監督を行います。また、当社は、個人情報の取扱いの全部又は一部を委託する場合は、委託先において個人情報の安全管理が図られるよう、必要かつ適切な監督を行います。

		dl.p-privacy
			dt.p-privacy__title 7. 第三者提供
			dd.p-privacy__textarea
				p.p-privacy__text 当社は、個人情報保護法その他の法令に基づき開示が認められる場合を除くほか、あらかじめお客様の同意を得ないで、個人情報を第三者に提供しません。但し、次に掲げる場合は上記に定める第三者への提供には該当しません。
				ol.p-privacy__list
					li （１） 当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部又は一部を委託する場合
					li （２） 合併その他の事由による事業の承継に伴って個人情報が提供される場合
					li （３） 個人情報保護法の定めに基づき共同利用する場合

		dl.p-privacy
			dt.p-privacy__title 8. 個人情報の開示
			dd.p-privacy__textarea
				p.p-privacy__text 当社は、お客様から、個人情報保護法の定めに基づき個人情報の開示を求められたときは、お客様ご本人からのご請求であることを確認の上で、お客様に対し、遅滞なく開示を行います（当該個人情報が存在しないときにはその旨を通知いたします。）。但し、個人情報保護法その他の法令により、当社が開示の義務を負わない場合は、この限りではありません。

		dl.p-privacy
			dt.p-privacy__title 9. 個人情報の訂正等
			dd.p-privacy__textarea
				p.p-privacy__text 当社は、お客様から、個人情報が真実でないという理由によって、個人情報保護法の定めに基づきその内容の訂正、追加又は削除（以下「訂正等」といいます。）を求められた場合には、お客様ご本人からのご請求であることを確認の上で、利用目的の達成に必要な範囲内において、遅滞なく必要な調査を行い、その結果に基づき、個人情報の内容の訂正等を行い、その旨をお客様に通知します（訂正等を行わない旨の決定をしたときは、お客様に対しその旨を通知いたします。）。但し、個人情報保護法その他の法令により、当社が訂正等の義務を負わない場合は、この限りではありません。

		dl.p-privacy
			dt.p-privacy__title 10. 個人情報の利用停止等
			dd.p-privacy__textarea
				p.p-privacy__text 当社は、お客様から、お客様の個人情報が、あらかじめ公表された利用目的の範囲を超えて取り扱われているという理由又は偽りその他不正の手段により取得されたものであるという理由により、個人情報保護法の定めに基づきその利用の停止又は消去（以下「利用停止等」といいます。）を求められた場合において、そのご請求に理由があることが判明した場合には、お客様ご本人からのご請求であることを確認の上で、遅滞なく個人情報の利用停止等を行い、その旨をお客様に通知します。但し、個人情報保護法その他の法令により、当社が利用停止等の義務を負わない場合は、この限りではありません。

		dl.p-privacy
			dt.p-privacy__title 11. Cookie（クッキー）その他の技術の利用
			dd.p-privacy__textarea
				p.p-privacy__text 当社のサービスは、Cookie及びこれに類する技術を利用することがあります。これらの技術は、当社による当社のサービスの利用状況等の把握に役立ち、サービス向上に資するものです。Cookieを無効化されたいユーザーは、ウェブブラウザの設定を変更することによりCookieを無効化することができます。但し、Cookieを無効化すると、当社のサービスの一部の機能をご利用いただけなくなる場合があります。

		dl.p-privacy
			dt.p-privacy__title 12. 継続的改善
			dd.p-privacy__textarea
				p.p-privacy__text 当社は、個人情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、本プライバシーポリシーを変更することがあります。

include ./Common/_footer.pug

