<!-- ↓↓ キャンペーンポップアップ ↓↓ -->
.l-modal-load.js-modal-load
	.l-modal-load__bg.js-modal-load__bg
	.l-modal-load__wrap
		.l-modal-load__close.js-modal-load__close(title='閉じるボタン')
			span
			span
		.l-modal-load__contents
			a(href='#' target='_blank' rel='noopener')
				img(src="https://fakeimg.pl/300x350/" alt="" width="300" height="350")
<!-- ↑↑ キャンペーンポップアップ ↑↑ -->