.p-fv
	h1.p-fv__title
		img(src= imgPath + "fv_logo.svg" alt="▲▲▲▲ inc" width="455" height="45")
	a.p-fv-topic(href=" ")
		h2.p-fv-topic__title.u-upper TOPICS
		article.p-fv-topic__textarea
			time.p-fv-topic__time 2023.01.05
			p.p-fv-topic__text ここにニュースが入ります
