//- 写真とテキストを2カラムで表示する
//- 画像は左、テキストは右に配置する

.p-about
	.p-about__inner.c-inner
		.p-about__img
			+picImg("", "about_img01", "jpg", "", true, "357", "188", "640", "727")
		.p-about__textarea
			h2.p-about__title 〇〇
			p.p-about__text テキストダミー。テキストダミー。テキストダミー。テキストダミー。