@use "sass:math";
@use "../../Setting/" as s;

.p-price {
  &__title {
    text-align: left;
  }
  &__text {
    margin: 1.5em 0 4.5em;
    font-size: 1.3rem;
    font-weight: 500;

    line-height: 1.77;
    text-align: justify;

    @include s.media(md) {
      /*PCのみ*/
      margin-bottom: 15vmin;
      font-size: 1.4rem;
      letter-spacing: 0.05em;
    }
    small {
      font-size: 1.3rem;
      @include s.media(mdmax) {
        /*スマホのみ*/
        display: block;
      }
      @include s.media(md) {
        /*PCのみ*/
        display: inline-block;
        margin-left: 1em;
      }
    }
  }

  &-sec {
    margin-bottom: 6.5em;
    text-align: left;
    @include s.media(md) {
      /*PCのみ*/
      margin-bottom: 11em;
      display: flex;
      justify-content: space-between;
    }
    &__titlearea {
      margin-bottom: 1.5em;
      @include s.media(md) {
        /*PCのみ*/
        //width: 270px;
        width: s.p(s.$pcContainer, 270);
      }
      p {
        font-size: 1.2rem;
        font-weight: 500;
        @include s.media(md) {
          /*PCのみ*/
          margin-top: 0.3em;
        }
      }
    }
    &__title {
      font-size: 1.6rem;
      font-weight: 500;
      color: #000;
      letter-spacing: 0.08em;
    }
    &__table {
      @include s.media(md) {
        /*PCのみ*/
        width: 100% - s.p(s.$pcContainer, 270);
      }
      table {
        border-bottom: 0.7px solid var(--color-base);
        width: 100%;
        margin-bottom: 1px;
      }
      tr {
        //display: table-row;
        justify-content: space-between;
        display: flex;
        align-items: center;
        border-top: 0.7px solid var(--color-base);
      }
      th,
      td {
        font-weight: 500;
        letter-spacing: 0.03em;
        padding: 1.65em 0 1.55em;
        //vertical-align: top;

        @include s.media(mdmax) {
          /*スマホのみ*/
          //   display: block;
          //   width: 100%;
          font-size: 1.3rem;
          line-height: 1.77;
        }
        @include s.media(md) {
          /*PCのみ*/
          font-size: 1.4rem;
          line-height: 2.14;
        }
      }

      th {
        // @include s.media(mdmax) {
        //   /*スマホのみ*/
        //   padding: 1.5em 0 0.8em;
        // }
        @include s.media(md) {
          /*PCのみ*/
          //width: s.p(730, 172);
        }
      }
      td {
        text-align: right;
        padding-left: 1em;
        // @include s.media(mdmax) {
        //   /*スマホのみ*/
        //   padding-bottom: 1.5em;
        // }
        @include s.media(md) {
          /*PCのみ*/
          //width: s.p(730, 730-172);
          //padding-right: 9%;
        }
      }

      li {
        position: relative;
        padding-left: 1em;
        &::before {
          content: "・";
          position: absolute;
          left: 0;
          top: 0;
        }
        & + li {
          margin-top: 0.5em;
        }
      }
    }
  }

  &-application {
    margin-bottom: 7em;
    text-align: justify;
    @include s.media(md) {
      /*PCのみ*/
      margin: 12em 0 22vmin 270px;
    }
    &__title {
      margin-bottom: 0.5em;
      font-size: 1.9rem;
      font-weight: 500;
      @include s.media(md) {
        /*PCのみ*/
        margin-bottom: 0.8em;
        font-size: 2.2rem;
      }
    }
    dl {
      @include s.media(md) {
        /*PCのみ*/
        margin: 2em auto;
        display: flex;
      }
    }
    dt {
      position: relative;
      margin: 2em 0 0.3em;
      font-size: 1.4rem;
      font-weight: 500;
      @include s.media(md) {
        /*PCのみ*/
        margin: 0;
        width: 9em;
        text-align: justify;
        &.go-post {
          letter-spacing: 0.2em;
        }
      }
      &:after {
        @include s.media(md) {
          /*PCのみ*/
          content: "";
          width: 1px;
          height: 82%;
          margin: 0 1em;
          background: var(--color-base);
          position: absolute;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          right: 0;
          top: 0;
        }
      }
    }
    p,
    dd {
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 1.77;
      @include s.media(md) {
        /*PCのみ*/
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
    dd {
      @include s.media(md) {
        /*PCのみ*/
        margin-left: 1em;
        width: calc(100% - 9em);
      }
    }
    a {
      display: inline-block;
      border-bottom: 0.7px solid var(--color-base);
    }
    p + dl {
      @include s.media(md) {
        /*PCのみ*/
        margin-top: 4em;
      }
    }
  }
}
