@use "sass:math";
@use "../../Setting/" as s;

.p-topics-single {
	margin: 5.5em auto 2.5em;
	max-width: 800px;

	@include s.media(md) {
		/*PCのみ*/
		margin-top: 15vmin;
		margin-bottom: 15vmin;
	}

	&__head-area {
		text-align: left;

		@include s.media(md) {
			/*PCのみ*/
			margin-bottom: 3.2em;
			display: grid;
			grid-template-columns: 1fr 160px;
			grid-template-areas:
				"areaA ..."
				"areaB areaC";
		}
	}

	&__time {
		margin-right: 0.3em;
		display: inline-block;
		font-family: Roboto, sans-serif;
		font-size: 1.3rem;
		color: #000;

		@include s.media(md) {
			/*PCのみ*/
			grid-area: areaA;
			font-size: 1.5rem;
		}
	}

	&__category-box {
		display: inline-block;

		@include s.media(md) {
			/*PCのみ*/
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			grid-area: areaC;
			text-align: right;
		}
	}

	&__category {
		font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック Medium",
			"Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		margin-left: 1em;
		display: inline-block;
		font-size: 1.5rem;
		font-weight: 300;
		color: #000;

		a {
			color: inherit;
		}

		@include s.media(md) {
			/*PCのみ*/
			display: block;
			margin: 0;
		}
	}

	&__title {
		margin: 1em 0 1.3em;
		font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック Medium",
			"Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 1.67;

		@include s.media(md) {
			/*PCのみ*/
			margin-bottom: 0;
			grid-area: areaB;
			font-size: 2.4rem;
			line-height: 1.71;
		}
	}

	&__contents {
		overflow: hidden;
		text-align: left;
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 2;

		@include s.media(md) {
			/*PCのみ*/
			font-size: 1.6rem;
		}

		p,
		ul,
		ol {
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
			margin-bottom: 2.2em;

			@include s.media(md) {
				/*PCのみ*/
				margin-bottom: 2em;
			}
		}

		h1,
		h2 {
			margin: 5.5rem auto 1.6rem;
			font-size: 1.8rem;
			font-weight: 300;
			line-height: 1.61;
			color: #000;

			&:first-child {
				margin-top: 0;
			}

			@include s.media(md) {
				margin: 9rem auto 3rem;
				font-size: 2.8rem;
			}
		}

		h3 {
			margin: 2em auto;
			font-weight: bold;

			@include s.media(md) {
				margin: 3em auto;
				letter-spacing: 0.2em;
			}
		}

		a {
			text-decoration: underline;
		}

		figure {
			margin-top: 2.2em !important;
			margin-bottom: 2.2em !important;

			@include s.media(md) {
				/*PCのみ*/
				margin-top: 2em !important;
				margin-bottom: 2em !important;
			}

			//width: 100%;

			// @include s.media(md) {
			//   /*PCのみ*/
			//   margin-bottom: 8.5%;
			// }

			// img {
			//   width: 100%;
			// }
		}

		.wp-block-quote {
			border-left: var(--color-base) 1px solid;
			padding: 2em 0 2em 1.4em;
			margin-bottom: 2.2em;

			@include s.media(md) {
				/*PCのみ*/
				padding: 3em 0 1.5em 3em;
				margin-bottom: 2em;
			}
		}

		ul li {
			position: relative;
			padding-left: 1em;

			&::before {
				content: "・";
				position: absolute;
				left: 0;
				top: 0;
			}
		}

		.size-large {
			img {
				width: 100%;
			}
		}

		.wp-block-embed.is-provider-youtube {
			iframe {
				width: 100%;
				height: auto;
				aspect-ratio: 500/281;
			}
		}
	}
}