<!-- ▲▲▲ コンテンツの記述ここまで ▲▲▲ -->
//- .c-page-top
//-   a.c-page-top__link(href="#")
//-     span.c-page-top__txt.u-only-pc page top

</main>
<!-- ▲▲▲コンテンツ▲▲▲ -->


<!-- ▼▼▼フッター▼▼▼ -->
footer.l-footer.js-footer
	.l-footer__wrapper.js-footer-target
		.l-footer__inner
			p.l-footer__contact
				a(href="mailto:info@office-▲▲▲▲.jp")
					span.wrap
						span.text(data-text="CONTACT") CONTACT

			.l-footer-info
				p.l-footer-info__logo
					a(href="/")
						img(src= imgPathCommon + "logo.svg" alt="▲▲▲▲" width="183" height="44")
				address.l-footer-info__address
					p TEL 06 6766 4154
					p MAIL #[a info@office-▲▲▲▲.jp]
					p 〒000-0000 大阪府大阪市〇〇

			ul.l-sns.l-sns--footer
				li.l-sns__list
					a(target="_blank" rel="noopener" href="https://twitter.com/▲▲▲▲Office")
						img.twitter(src= imgPathCommon + "icon_twitter.svg" alt="Twitter" width="22" height="18")
				li.l-sns__list
					a(target="_blank" rel="noopener" href="https://www.facebook.com/▲▲▲▲Osaka")
						img.facebook(src= imgPathCommon + "icon_facebook.svg" alt="facebook" width="11" height="22")
				li.l-sns__list
					a(target="_blank" rel="noopener" href="https://www.instagram.com/▲▲▲▲_design/")
						img.instagram(src= imgPathCommon + "icon_instagram.svg" alt="instagram" width="19" height="19")

			.l-footer__copyright.l-inner
				small ©▲▲▲▲ inc 2023

<!-- ▲▲▲フッター▲▲▲ -->
</body>

</html>
